<div class="row row-centered">
  <div class="col-md-6 col-centered">
    <button type="button" class="btn btn-lg btn-custom-toyota"><%= link_to "Toyota", toyota_toyota_models_path(toyota) %></button>
    <button type="button" class="btn btn-lg btn-custom-toyota"><%= link_to "Subaru", subaru_subaru_models_path %></button>
  </div>
</div>
